/* A comment that should be removed by CleanCSS */

* {
  margin: 0;
  padding: 0;
}

h1 {
	color: #333333;
	font: normal 3em/0.96em "vinyl-1","vinyl-2",sans-serif;
}

p {
	font: normal 1.25em/1.5em "skolar-1","skolar-2",serif;
}

body {
  background-color: lightsteelblue;
  max-width: 64rem;
  margin: auto;
  padding: 2rem;
}

body article * + * {
  margin-top: 3rem;
  outline: red solid thick;
}

img {
  max-width: 100%;
}
 
/* Grid Section Definitions */

body article h1     { grid-area : head1; }
body article h2     { grid-area : head2; }
body article nav    { grid-area : nav1;  }
body article img    { grid-area : image; }


/* Mobile First */

body article {
    display: grid;
    grid-gap: 1rem;
    row-gap: 0;
    grid-template-areas:
    "head1"
    "nav1"
    "image"
    "head2"
    ;
  }
  
/* Medium */
  
@media (min-width: 40rem) {
  body article {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "head1 head1 head1 head1"
      "nav1 nav1 image image"
      "head2 head2 head2 head2"
      ;
  }
}

/* Large */

@media (min-width: 64rem) {
  body article {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "head1 head1 head1 head1 head1 head1"
      "nav1 image image image image image"
      "head2 head2 head2 head2 head2 head2"
      ;
  }
}