<head>

<meta charset="utf-8">

<title>{{ site.site_name }}: {{ page.title }} - by {{ site.author }}</title>

<meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=0, initial-scale=1">
   <meta name="author" content="the pru" />

<link rel="stylesheet" type="text/css" href="/css/master.css" />
<link rel="stylesheet" type="text/css" href="/css/gridset.css" />

<!--[if (lt IE 9) | (IEMobile)]>
<link rel="stylesheet" type="text/css" href="/css/gridset-ie.css" />
<![endif]-->

<link href="{{ site.site_url }}/feed.xml" rel="alternate" type="application/rss+xml" title="Public House / HTML" />

<script type="text/javascript" src="/js/time.js"></script>
<script type="text/javascript" src="//use.typekit.net/evs2xod.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>


<!--refresh toggle-->
<!--<meta http-equiv="refresh" content="2" />-->

</head>
