:root {

/*----- Type -----*/

--typeface-primary: ff-meta-serif-web-pro, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
--typeface-primary-book: 500;
--typeface-primary-medium: 600;
--typeface-secondary-regular: normal;
--typeface-secondary: vinyl, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
--typeface-mono: Consolas,Lucida Console,Courier,Monaco,monospace;

--type-size-mouse:     calc(var(--type-size-base)   * 0.625);  /* 10  px       */
--type-size-small:     calc(var(--type-size-base)   * 0.75);   /* 12  px       */
--type-size-base:      1.25rem;                                /* 20 px - Base */
--type-size-large:     calc(var(--type-size-base)   * 1.5);    /* 30 px        */
--type-size-x-large:   calc(var(--type-size-base)   * 1.75);   /* 35 px        */
--type-size-display:   calc(var(--type-size-base)   * 3);      /* 60 px        */


/*----- Spacing -----*/

--space-none:          0;                                 /* 0            */
--space-tiny:          calc(var(--space-base)  * 0.125);  /* 2  px        */
--space-x-small:       calc(var(--space-base)  * 0.25);   /* 4  px        */
--space-small:         calc(var(--space-base)  * 0.5);    /* 8  px        */
--space-base:          1rem;                              /* 16 px - Base */
--space-large:         calc(var(--space-base)  * 2);      /* 32 px        */
--space-x-large:       calc(var(--space-base)  * 3);      /* 48 px        */

/*----- Color -----*/

--color-dark: hsla(0, 0%, 13%, 1);
--color-light: hsla(0, 0%, 100%, 1);
--color-tone-light: hsla(0, 0%, 80%, 1);
--color-tone-dark: hsla(0, 0%, 50%, 1);
--color-tone-overlay: hsla(0, 0%, 0%, .05);
--color-tone-overlay-edge: hsla(0, 0%, 50%, 1);
}
