/* A comment that should be removed by CleanCSS */

* {
  margin: 0;
  padding: 0;
}

h1 {
	color: #333333;
  font-size: 3rem;
  font-family: vinyl, sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-family: ff-meta-serif-web-pro, serif;
  font-weight: 500;
  font-style: normal;
}

  /* Book */
/* font-family: ff-meta-serif-web-pro, serif; */
/* font-weight: 500; */
/* font-style: normal; */

/* font-family: ff-meta-serif-web-pro, serif; */
/* font-weight: 500; */
/* font-style: italic; */

  /* Medium */
/* font-family: ff-meta-serif-web-pro, serif; */
/* font-weight: 600; */
/* font-style: normal; */

/* font-family: ff-meta-serif-web-pro, serif; */
/* font-weight: 600; */
/* font-style: italic; */

body {
  background-color: lightsteelblue;
  max-width: 64rem;
  margin: auto;
  padding: 2rem;
}

body article * + * {
  margin-top: 3rem;
  outline: red thin thick;
}

img {
  max-width: 100%;
}
 
/* Grid Section Definitions */

body article h2      { grid-area : t; }
body article .strip  { grid-area : s; }
body article nav     { grid-area : n;  }


/* Mobile First */

body article {
    display: grid;
    grid-gap: 1rem;
    row-gap: 0;
    grid-row-gap: 0;
    grid-template-areas:
    "t"
    "s"
    "n"
    ;
  }
  
/* Medium */
  
@media (min-width: 40rem) {
  body article {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "t t t t"
      "s s s s"
      "n n n n"
      ;
  }
}

/* Large */

@media (min-width: 64rem) {
  body article {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "t t t t t t t t"
      "s s s s s s s s"
      "n n n n n n n n"
      ;
  }
}

.sr-only {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
