/* Link & Focus Styles. */

/* Order tips via Eric Meyer: https://twitter.com/meyerweb/status/1279053893440282625 */

a, a img {
    outline: transparent dotted thick;
    color: var(--color-tone-dark);
}

a:visited, a:visited img {
    outline: transparent dotted thick;
    color: var(--color-tone-dark);
}

a:hover, a:hover img {
    color: var(--color-dark);
    transition: all 0.33s ease;

}

a:focus, a:focus img {
    outline-offset: .5rem;
    outline: var(--color-tone-dark) solid thin;
    transition: all 0.25s ease;
    color: var(--color-dark);
}

a:active, a:active img {
    color: var(--color-dark);
    outline-offset: .5rem;
    outline: var(--color-dark) solid thin;
}

@media (prefers-color-scheme: dark) {
    a, a img {
        outline: transparent dotted thick;
        color: var(--color-tone-light);
    }
    
    a:visited, a:visited img {
        outline: transparent dotted thick;
        color: var(--color-light);
    }
        
    a:hover, a:hover img {
        color: var(--color-tone-dark);
    }
    
    a:focus, a:focus img {
        outline: var(--color-light) solid thin;
        color: var(--color-tone-dark);
    }
    
    a:active, a:active img {
        color: var(--color-tone-light);
        outline: var(--color-dark) solid thin;
    }
}