<!DOCTYPE HTML>

<html>


{% include header-slide.html %}

<body id="main">

  <div class="wrapper d2-d4 t2 m2">
 	    
	<header>
		{% include branding.html %}
		{% include navigation.html %} 
	</header>

		<section>
			{{ content }}
		</section>

<div id="page-navigation"> 
	        
	        <div class="clear">&nbsp;</div> 

				{% include navigation-strips.html %} 
	        
	        <div class="clear">&nbsp;</div> 

	</div>
        
    {% include footer.html %}
    
    
  </div>
  
</body>

</html>