---
layout: layout-slide
---

<div class="content">
  <div id="post">
    {{ content }}
  </div>
</div>

<!-- Javascript -->

<script src='/js/slider.js'></script>
<script>
    if ( 'querySelector' in document && 'addEventListener' in window ) {

        // Slider Variable
        var slider = document.querySelector('.slider');

        // If a Slider exists
        if (slider) {

            // Activate Slider
            window.mySwipe = Swipe(slider, {
                continuous: true,
                callback: function(index, elem) {
                    countSlides();
                },
            });


            // Function to display slide count
            var countSlides = function () {
                // Variables
                var slideTotal = mySwipe.getNumSlides();
                var slideCurrent = mySwipe.getPos();
                var slideCount = document.querySelector('.slide-count');
                // Content
                if (slideCount) {
                    slideCount.innerHTML = slideCurrent + ' of ' + slideTotal;
                }   
            }
            // Run slide count function on load
            countSlides();

            // Create Previous & Next Buttons
            var slideNav = document.querySelector('.slide-nav')
            if (slideNav) {
                slideNav.innerHTML = '<a class="slide-nav-prev" href="#">Previous Panel</a><!-- | --><a class="slide-nav-next" href="#">Next Panel &rarr;</a>';
            }

            // Toggle Previous & Next Buttons
            var btnNext = document.querySelector('.slide-nav-next');
            var btnPrev = document.querySelector('.slide-nav-prev');
            if (btnNext) {
                btnNext.addEventListener('click', function(e) { e.preventDefault(); mySwipe.next(); }, false);
            }
            if (btnPrev) {
                btnPrev.addEventListener('click', function(e) { e.preventDefault(); mySwipe.prev(); }, false);
            }


            // Toggle Left & Right Keypress
            window.addEventListener('keydown', function (e) {
                if (e.keyCode == 37) {
                    mySwipe.prev();
                }
                if (e.keyCode == 39) {
                    mySwipe.next();
                }
            }, false);
            
        }

    }
</script>