---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Public House",
    "subtitle": "Public House by the pru",
    "url": "https://thepublichouse.net/",
    "feedUrl": "https://thepublichouse.net/feed.xml",
    "author": {
      "name": "the pru",
      "email": "thepru@hey.com"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.strip | rssLastUpdatedDate }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for strip in collections.strip %}
  {% set absoluteStripUrl %}{{ strip.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ strip.data.title }}</title>
    <link href="{{ absoluteStripUrl }}"/>
    <updated>{{ strip.date | rssDate }}</updated>
    <id>{{ absoluteStripUrl }}</id>
    <content type="html">{{ strip.templateContent | htmlToAbsoluteUrls(absoluteStripUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
