<footer>
   <hr>
   <p>&copy;{{ site.copyright }} <a rel="me" href="https://mastodon.social/@thepru">thepru</a>&ensp;&sdot;&ensp;<a href="/feed.json" title="Subscibe via RSS (json)">Feed</a>&ensp;&sdot;&ensp;<a href="https://rodneypruitt.com/">Personal Site</a>&ensp;&sdot;&ensp;
   {% if bodyClass == "archive"  %}
      <a href="#top" title="Go to the top of this page">Back to Top</a>{% else %}<span class="archiveLink"><a href="/strips/" title="view all strips">Archive</a></p></span>
   {% endif %}
</footer>